@media screen and (max-width: 800px) {
    .poetry-container{
        display: flex;
        width: 100%;
    }
    .cards{
        width: 46vw;
        /* height: 30vh; */
    }
    /* .image-container img{
        width: 38vw;
    } */
.container{
    margin: auto;
    width: 40vw;
    margin-top: 15px;
}
   .cards .container canvas{
    /* margin: auto; */
    display: none;
   }
 
   .audio-container{
    width: 40vw;
    left: 1%;
   }
   audio{
    left: 1%;
    width: 41vw;
   }
   section{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   .playButton{
    padding: 10px;
    text-align: center;
    width: 16vw;
   }
   .image-container img{
    width: 40vw;
    
   }
   .popup{
    width: 95%;
    height: auto;
    padding: 0;
    top: 50%;
    
   }
   .popup .popup-canvas{
    width: 70vw;
    height: 20vh;
    
   }
   .popup p{
    margin-bottom: 20px;
   }
   .popup .audio{
    width: 70vw;
   }
   .popup .popup-image img{
    margin-top: 15px;
    height: auto;
    width: 80%;
   }
    
}