* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #f8f8f8;
}
h2 {
    margin-top: 5px;
    text-align: center;
}
.red{
    border: 2px solid red;
}
.podcast-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 5vw;
}

.cards {
    /* border: 1px solid black; */
    background-color: white;
    height: auto;
    width: 26vw;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
    width: 25vw;
    padding: 6px;
    text-align: center;
    margin-top: 15px;
    height: auto;
}


.image-container {
   position: relative;
}

.image-container img{
    height: 38vh;
    width: 23vw;
    object-fit: fit;
}
audio{
    height: 15px;
    width:23vw ;
   
}
.audio-container{
   width: 23vw;
    transform: translate(3%, 19%);
    background-color: white;
}

h3 {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
     
}
.container p{
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
     
    /* text-overflow: ellipsis; */
}

input[type="file"] {
    margin: 20px 0;
}

canvas {
    width: 24vw;
    /* max-width: max-content; */
    height: 22vh;
    background-color: transparent;
    overflow: none;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0px;
   
}
section{
    margin: auto;
    width: 65px;
}

#visualizer{
    border-radius: 20px;
   
}
audio::-webkit-media-controls-play-button {
    display: none;
}
 audio::-webkit-media-controls-current-time-display {
    display: none;
} 

 audio::-webkit-media-controls-time-remaining-display {
    display: none;
} 
audio::-webkit-media-controls-panel {
    /* border-radius: 50%; */
    background-color: white;
}

 
