* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #f8f8f8;
}
h2 {
    margin-top: 5px;
    text-align: center;
}

.poetry-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 5vw;

}

.cards {
    /* border: 1px solid black; */
    background-color: white;
    height: auto;
    width: 26vw;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
    width: 25vw;
    padding: 6px;
    text-align: center;
    margin-top: 15px;
    height: auto;
}


.image-container {
   position: relative ;
}

.image-container img{
    height: 38vh;
    width: 23vw;
    object-fit: fit;

}
audio{
    height: 15px;
    width:23vw ;
   
}
.audio-container{
    width: 23vw;
    transform: translate(3%, 64%);
    background-color: white;
}

h3 {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
     
}
.container p{
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
     
    /* text-overflow: ellipsis; */
}

input[type="file"] {
    margin: 20px 0;
}

canvas {
    width: 24vw;
    /* max-width: max-content; */
    height: 23vh;
    background-color: transparent;
    overflow: none;
    margin-left: -2%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0px;
   
}
section{
    margin: auto;
    width: 65px;
}

#visualizer{
    border-radius: 20px;
   
}
audio::-webkit-media-controls-play-button {
    display: none;
}
 audio::-webkit-media-controls-current-time-display {
    display: none;
} 

 audio::-webkit-media-controls-time-remaining-display {
    display: none;
} 
audio::-webkit-media-controls-panel {
    /* border-radius: 50%; */
    background-color: white;
}

.popup {
    background-color: #fff;
    width: 500px;
    height: auto;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.popup p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup .popup-image img{
    margin-top: 10px;
    height: auto;
    width: 70%;
   }


.okbtn {
    margin-top: 10px;
    width: 100%;
    height: 37px;
    background-color: #6fd649;
    color: white;
    border: solid #6fd649 1px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-popup {
    top: 54%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.active {
    filter: blur(30px) brightness(.7);
    /* /* display: none; */
}


