@media screen and (max-width: 700px) {
.options{
    display: none;
}
.container{
    width: 90%;
    /* margin: auto; */
}
.container-1{
    width: 97vw;
 display: flex;
 left: 5%;
 align-items: flex-start;
}

.audio-container{
    width: 80%;
    height: auto;
}
audio{
    height: 10vh;
    width:80vw ;
}
.dropdown{
    display: inline-block;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.dropdown .dropdown-menu{
    margin-top: 9%;
    
}


}
