* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* overflow-x: hidden; */
}
.red {
    border: 2px solid red;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-flex{
    display: none;
}

.nav-items-flex {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.596); /* White background with opacity */
    z-index: 999; /* Make it appear above other elements */
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(11px);
/* padding: 30px; */
color: whitesmoke;
}
.nav-items-flex ul{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 5px;
    margin-top: 20vh;
}  
.nav-items-flex ul li {
    margin: 5px;
     list-style: none;
     font-size: 20px;
     flex: start;
}
.nav-items-flex ul li a{
    color: rgb(255, 255, 255);
    margin: 5px;
    opacity: 1;
    text-decoration:none ;
}  
.close-button {
    position: absolute;
    top: 60px;
    right: 50%;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: whitesmoke;
}
.land {
    display: flex;   
}
nav{
    position: fixed;
    left: 0px;
    background-color: #bdbdbd44;
}
nav.navbar {
    top: 0; 
    left: 0;
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid rgba(40, 40, 40, 0.619);
    transition: all 0.3s ease-in-out;
    z-index: 1000; /* Ensure it's above other content */
    margin-right: 0px;
    backdrop-filter: blur(10px);
}

 

nav.navbar:hover .nav-items ul li a {
    display: inline-block;
}

.logo img {
    width: 5vw;
    border-radius: 50%;
    margin: 3px;
}

.nav-items {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}

.nav-items ul li {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-bottom: 7px;
}

.nav-items ul li span {
    /* margin: 5px; */
    font-size: 30px;
}

.nav-items ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    display: none;
}
.logo-flex{
    display: none;
}
.hero{
    position: relative;
    left: 5vw;
    width: 80vw;
    height:100vh ;
    background-image: url('herobg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.3s ease-in-out;

}
 
.hero p{
    color: whitesmoke;
    font-size: 60px;
    position: absolute;
    top: 15%;
    left: 2%;
    font-weight: 600;
}
.hero span{
    color: whitesmoke;
    font-size: 15px;
    position: absolute;
    top: 60%;
    left: 2%;
    /* font-weight: 600; */
    margin: 5px;
}
.hero a{
    position: absolute;
    top: 74%;
    left: 2%;
    text-decoration: none;
    color: rgba(0, 255, 255, 0.491);
    margin: 5px;

}
.hero button{
    position: absolute;
    top: 83%;
    left: 2%;
    background-color:  rgb(183, 182, 182);
    border: none;
    border-radius: 25px;
    width: 10vw;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}
.hero button:hover{
    background-color: #fff;
}
.disc img{
    border-radius:50%;
    width: 28vw;
}
.disc{
    position: absolute;
    top: 27%;
    right: -10%;
    animation: rotate infinite 10s linear;
    overflow: hidden;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#sidebar.expanded {
    width: 11vw;
}
#content.expanded {
    left: 11vw;
}
 

body {
    background-color: whitesmoke
}

.containerr {
    width: auto;
    border: 0px solid;
    display: flex;
    justify-content: space-evenly;

}

.containerr .card_container {
    margin: 20px;
    /* border: 1px solid rgb(155, 108, 108); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    /* height: 75vh; */
    overflow: hidden;
}

.more button {
    display: inline-block;
    /* border: 1px solid rgb(182, 182, 241); */
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(244, 121, 131);
    color: rgb(47, 47, 55);
    margin-top: 4px;
    border: none;
}

.poetry_container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    /* height: 70vh; */

}

audio::-webkit-media-controls-panel {
    background-color: rgb(231, 222, 222);
}

 
audio::-webkit-media-controls-play-button {
    background-color: rgb(231, 222, 222);
    ;
}

h2 {
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.podcast_container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    /* height: 70vh; */
}

.box {
   
    padding: 2px;
 
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box audio {
    border-radius: none;
    margin: auto;
    padding: 10px;
    height: 40px;
    
}
.box img{
    width: 10vw;
}
.section-2{
    margin-top: 20px;
}
.section-2 h1{
    text-align: center;
    font-size: 45px;
}
.nav-items-flex button{
    background-color: #007bff;
color: #fff;
border: none;
padding: 10px 20px;
cursor: pointer;
margin-top: 0px;
margin-left: 0px;
  }